<h1 mat-dialog-title>Plant New Crop</h1>
<div mat-dialog-content fxLayout="row wrap">
  <mat-form-field fxFlex="100%" appearance="outline">
    <mat-label>Crop Type</mat-label>
    <mat-select [(value)]="crop_type_value">
    	<mat-option *ngFor="let crop_type of (crop_types | async)" [value]="crop_type">
      {{crop_type}}
    	</mat-option>
  	</mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="100%" appearance="outline">
    <mat-label>Seed Amount</mat-label>
    <input matInput [(ngModel)]="seed_amount_value"/>
    <span matSuffix>Oz</span>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button fxFlex="1 0 1" (click)="cancelAndClose()">
  	<mat-icon>close</mat-icon>
  	<br>Cancel
	</button>
  <button mat-stroked-button fxFlex="1 0 1" class="greenButton" [mat-dialog-close]="crop_type_value" cdkFocusInitial (click)="updateTray()">
  	<mat-icon>grass</mat-icon>
  	<br>Plant
  </button>
</div>