<!-- Log in -->
<div style="height: 50px" fxLayout="row" fxLayoutAlign="end" >
  <ng-container *ngIf="auth.user | async as user; else showLogin">
    <p>Logged in as {{user.displayName}}</p>
    <button style="margin: 5px" mat-stroked-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-template style="position: fixed; right: 0" #showLogin>
    <div fxLayout="row" fxLayoutAlign="end">
      <button mat-stroked-button (click)="login()" style="margin: 5px">Login with Google</button>
    </div>
  </ng-template>
</div>

<div fxLayoutAlign="center center">
  <mat-form-field appearance="fill">
    <mat-label>Rack</mat-label>
    <mat-select [(value)]="currentRack" (selectionChange)="updateTrays()">
      <mat-option *ngFor="let rack of (racks | async) | keyvalue" [value]="rack.key">
        {{rack.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br>
<div fxLayout="row wrap">
  <div fxFlex="25%" class="trayContainer" *ngFor="let tray of (trays | async) | keyvalue : compareNumber">
      <ng-container *ngIf="tray.value != 0; else newPlant">
        <button fxFlex mat-stroked-button (click)="openPlantDetailsDialog(tray.key, tray.value)" class="greenButton" style="overflow: hidden">
          <mat-icon>grass</mat-icon> 
          <br>{{tray.value}}
        </button>
      </ng-container>
      <ng-template #newPlant>
  	    <button fxFlex mat-stroked-button (click)="openPlantNewDialog(tray.key)">
    		  <mat-icon>add</mat-icon>
          <br>Plant Crop
  	    </button>
      </ng-template>
  </div>
</div>




