<!-- <ul>
  <li class="text" *ngFor="let crop_type of crop_types | async">
    {{crop_type}}
  </li>
</ul>
<button mat-button aria-label="New Crop Type" (click)="newCropType()">
  <mat-icon>add</mat-icon> New Crop Type
</button> -->
<div fxLayoutAlign="center center">
  <mat-form-field appearance="fill">
    <mat-label>Rack</mat-label>
    <mat-select [(value)]="currentRack" (selectionChange)="updateTrays()">
      <mat-option *ngFor="let rack of (racks | async) | keyvalue" [value]="rack.key">
        {{rack.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br>
<div fxLayout="row wrap">
  <div fxFlex="25%" class="trayContainer" *ngFor="let tray of (trays | async) | keyvalue : compareNumber">
  	<button fxFlex mat-stroked-button (click)="handleTrayClick(tray.key, tray.value)" [ngClass]="{greenButton : tray.value != 0}">
  		<mat-icon *ngIf="tray.value == 0">add</mat-icon> 
      <mat-icon *ngIf="tray.value != 0">grass</mat-icon> 
      <br>{{buttonValue(tray.value)}}
  	</button>
  </div>
</div>




