@import 'https://fonts.googleapis.com/css?family=Roboto:100,400';

.center-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
 }