@import 'https://fonts.googleapis.com/css?family=Roboto:100,400';
@import 'contrast-dark-theme.scss';

@font-face {
  font-family: "Socicon";
  src: url("assets/fonts/Socicon.eot");
  src: url("assets/fonts/Socicon.eot#iefix") format("embedded-opentype"), 
       url("assets/fonts/Socicon.woff2") format("woff2"), 
       url("assets/fonts/Socicon.ttf") format("truetype"), 
       url("assets/fonts/Socicon.woff") format("woff"), 
       url("assets/fonts/Socicon.svg#Socicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.socicon {
  font-family: "Socicon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  padding: 10px;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-menu {
  @extend .unstyled-link;
  @extend .center-text;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.main-menu > li > a {
  @extend .unstyled-link;
  font-weight: 100;
  font-size: 20pt;
  line-height: 1.5em;
}

.center-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.social-icon {
  @extend .unstyled-link;
  font-size: 20px;
  line-height: 50px;
  width: 50px;
  height: 50px;
}

.unstyled-link {
  color: $light-primary-text;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: mat-color($contrast-dark-primary);
  color: $light-primary-text;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.photo {
  position: absolute;
  transition: all 0.5s ease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #000;
  background: linear-gradient(to right, #111 8%, #333 18%, #111 33%);
  background-size: 800px 1px;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -400px 0
    }
    100%{
        background-position: 400px 0
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    font-weight: 100;
    text-align: center;
}