<app-menu-toolbar></app-menu-toolbar>
<div class="center-self">
  <h1>Social Links</h1>
  <div fxLayout="row wrap">
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="Email" href="mailto:me@panchoruy.com" target="_blank">
        
      </a>
    </div>
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="Facebook" href="https://facebook.com/panchoruy" target="_blank">
        
      </a>
    </div>
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="Twitter" href="https://twitter.com/panchoruy" target="_blank">
        
      </a>
    </div>
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="Instagram" href="https://instagram.com/panchoruy" target="_blank">
        
      </a>
    </div>
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="YouTube" href="https://youtube.com/panchoruy" target="_blank">
        
      </a>
    </div>
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="Github" href="https://github.com/panchoruy" target="_blank">
        
      </a>
    </div>
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="LinkedIn" href="https://www.linkedin.com/in/panchoruy" target="_blank">
        
      </a>
    </div>
    <div fxFlex.sm="25%" fxFlex.md="12.5%">
      <a class="social-icon socicon" mat-icon-button alt="Flickr" href="https://www.flickr.com/photos/panchoruy" target="_blank">
        
      </a>
    </div>
  </div>
</div>
