<app-menu-toolbar></app-menu-toolbar>
<div class="center-self">
  <a class="unstyled-link" href="https://facebook.com/panchoruy" target="_blank">
    <span class="socicon"></span>
  </a>
  <a class="unstyled-link" href="https://twitter.com/panchoruy" target="_blank">
    <span class="socicon"></span>
  </a>
  <a class="unstyled-link" href="https://instagram.com/panchoruy" target="_blank">
    <span class="socicon"></span>
  </a>
  <a class="unstyled-link" href="https://youtube.com/panchoruy" target="_blank">
    <span class="socicon"></span>
  </a>
  <a class="unstyled-link" href="https://github.com/panchoruy" target="_blank">
    <span class="socicon"></span>
  </a>
  <a class="unstyled-link" href="https://www.linkedin.com/in/panchoruy" target="_blank">
    <span class="socicon"></span>
  </a>
  <a class="unstyled-link" href="https://www.flickr.com/photos/panchoruy" target="_blank">
    <span class="socicon"></span>
  </a>
</div>